body{
    background: linear-gradient(orange, white);
}

header{
display: flex;
justify-content:space-around;
align-items: center;
}

.navegacao a{
    margin-right: 20px;
    font-family: 'Anton', sans-serif;
    font-size: 2em;
}

.navegacao a:hover{
    color: white;
    text-decoration: underline;
}

.imagem-bola{
    width: 500px;
    transition: 1s all;
}

.imagem-bola:hover{
    opacity: 0.3;
}

.logo{
    width: 150px;
    transition: 1s all;
}

.logo:hover{
    opacity: 0.3;
}

.main-topo{
    width: 1000px;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
}

.main-topo-descricao p{
    font-family: 'Amatic SC', cursive;
    font-size: 3em;
    margin: 0 0 10px 0;
}

.botao{
    padding: 10px;
    border-radius: 10px;
    background-color: orange;
    color: white;
    border: none;
    font-size: 1em;
    font-weight: bold;
    transition: 2s all;
}

.botao:hover{
    transform: scale(1.2);
}

.quem-somos{
    width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
   }

   .quem-somos p{
    margin: 0 0 20px 0;
   }

.titulo-quem-somos{
   padding: 22px;
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
}

.centralizaçao-footer{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.footer-caixa{
    width: 230px;
}

.footer-caixa p{
    font-family: 'Roboto', sans-serif;
}

.titulo-footer{
    font-family: 'Roboto', sans-serif;
    font-weight:700;
    font-size: 28px;
}

.redes{
    width: 25px;
}
.assinatura{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-git{
    margin-left: 10px;
   
   }

.texto-assinatura{
   text-align: center;
}

@media screen and (max-width:480px){
    .navegacao a{
        font-size: 1em;
        margin-right: 0px;
    }

    .logo{
        width: 50px;
    }

    .main-topo{
        width: 100%;
        margin: 50px auto;
        display: flex;
        flex-direction: column;
    }

    .imagem-bola{
        width: 100%;
        transition: 1s all;
    }

    .quem-somos{
        width: 100%;
        display: flex;
        flex-direction: column;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
       }

       .centralizaçao-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
}